body { margin: 0px; }
.synapse-app {
    background-color: #1F1F1F;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px auto 70px;
}
.synapse-header {
    background-color: #282828;
    border-bottom: #181818 solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
}
.synapse-content {
    background-color: #1F1F1F;
    overflow-y: scroll;
}
/* width */
.synapse-content::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .synapse-content::-webkit-scrollbar-track {
    background: #444444;
  }
  
  /* Handle */
  .synapse-content::-webkit-scrollbar-thumb {
    background: #1b1b1b;
  }
  
  /* Handle on hover */
  .synapse-content::-webkit-scrollbar-thumb:hover {
    background: #181818;
  }
.synapse-footer {
    background-color: #282828;
    border-top: #181818 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
}
.synapse-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  padding: 5px;
  grid-auto-rows: 1fr;
  background-color: #282828;
  margin: 10px;
}
.synapse-column {
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto';
  padding: 10px;
  font-size: 16px;
}
.synapse-menu {
  height: 100%;
  width: min-content;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;

}
.synapse-button {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #282828;
}

.synapse-button:hover {
  background-color: red;
}
.synapse-search {
  padding-left: 10px;
  padding-right: 10px;
  cursor: text;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  height: 100%;
  background-color: #282828;
  border: none;
  outline: none;
}

.synapse-brand {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  background-image: url('https://vuejs.org/images/logo.png');
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .synapse-row {
    grid-template-columns: 1fr;
  }
}